/* ngcloak
 * Docs : https://docs.angularjs.org/api/ng/directive/ngCloak
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.translate-cloak {
  display: none !important;
}

/* START VARIABLES */
:root {
  --main-color: #404b54;
  --red-color: #e01919;
  --white-color: #fff;
  --grey-color: #8e8e8e;
  --background-color: #edf4ff;
  
  --font-size: 16px;
}
/* END VARIABLES */


/* START GENERAL styles */
body {
  color: var(--main-color);
  font-size: var(--font-size);
  background-color: var(--background-color);
}
.table>tbody>tr>td {
  vertical-align: middle;
}
.btn,
.btn:focus,
.btn:active {
  border-radius: 0;
  outline: none;
}

.wrapper {
  padding: 40px 0;
}

.form-control {
  border-radius: 0;
  padding: 20px 10px;
}
label {
  font-weight: 400;
  font-size: 14px;
}
.has-error .form-control,
.has-error .form-control:focus {
  border-color: var(--red-color);
}
.error-text {
  color: var(--red-color);
  font-size: 12px;
  margin-top: 3px;
  position: absolute;
}
/* END GENERAL styles */

/* Start Welcome page */
.welcome__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.welcome {
  opacity: 0;
  transform: translateY(30%);
  text-align: center;
  transition: all ease-in 0.7s;
}
.welcome.appear {
  opacity: 1;
  transform: translateY(0);
}
.welcome__btns {
  margin-top: 40px;
}
.welcome__btns .btn-primary,
.welcome__btns .btn-primary:focus {
  color: var(--red-color);
  background-color:  var(--white-color);
  border-color: var(--red-color);
  transition: all ease-in .2s;
}
.welcome__btns .btn-primary:hover,
.welcome__btns .btn-primary:active {
  color: var(--white-color);
  background-color: var(--red-color);
}
/* End Welcome page */

/* Start edit-user component */
.users-edit__header h2,
.users-list__header h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}
.users-edit__form,
.users-list {
  background-color: var(--white-color);
  margin-top: 20px;
  /* min-height: calc(100vh - 180px); */
  padding: 30px 40px;
  -webkit-box-shadow: 0px 6px 13px 0px rgba(220,220,220,1);
  -moz-box-shadow: 0px 6px 13px 0px rgba(220,220,220,1);
  box-shadow: 0px 6px 13px 0px rgba(220,220,220,1); 
}
/* End edit-user component */

/* Start breadcrumbs component */
.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  list-style: none;
}
.breadcrumbs__item span {
  color: var(--grey-color);
}
.breadcrumbs__item:not(:first-child)::before {
  content: '/';
  color: var(--grey-color);
  padding: 0 8px 0 12px;
  font-size: 16px;
}
.edit-form .form-group {
  margin-bottom: 25px;
}
.edit-form__buttons {
  text-align: right;
  margin-top: 50px;
}
/* End breadcrumbs component */

